#fbody {
   -webkit-touch-callout: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
   background: linear-gradient(45deg, #952727, #8d439f);
   display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Poppins", sans-serif;
    color: antiquewhite;
    min-height: 100vh;
}

#pbody {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: #0A4A77;
  display: flex;
   flex-direction: column;
   align-items: center;
   font-family: "Poppins", sans-serif;
   color: antiquewhite;
   min-height: 100vh;
}

#kuva {
   width: 100px;
   height: auto;
}
#hr1 {
    width: 80%;
}
#wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-evenly; 
}
#testailua {
    border: green;
    border-color: green;
    border-width: 3px;
    border-style: dashed;
    background-color: darkblue;
    color: white;
    margin: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#testailua:hover {
    border-radius: 10px;
}
a {
    color: lightblue;
}
.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  
  #div1 {
    width: 100%;
    padding: 25px;
  }

  .rounded {
    border-radius: 5px;
    background-color: #332C2C;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    border: none;
    padding: 10px;
  }

  .header {
    width: 100%;
    background-color: #FA7DB1;
  }

  .fw {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .htext {
    color: #8A2BE2;
    text-align: center;
  }

  .d50 {
    width: 75%;
  }

  .merkinta {
    margin-top: 20px;
    padding: 20px;
    background: #FA7DB1;
  }

  .inputfield {
    width: 100%;
    border: none;
    border-radius: 5px;
    height: 30px;
  }

  #tietobtn {
    margin-top: 10px;
  }

  .field {
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 10px;
    margin-top: 5px;
    background-color: #F8E7FD;
    padding: 5px;
    color: black;
  }

  .blk {
    color: black;
  }

  #varoitus {
    width: 100%;
    visibility: hidden;
    color: white;
    background-color: #A00707;
    margin-left: 20px;
    margin-right: 20px;
  }
  
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }